#main {
  background-color:black;
  color:white;
    width:150px;
      height:100px;

}

.image { 
   position: relative; 
   width: 100%;
}

h2 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
}

.oldish{ color:white;
}

.intro{
  color:white;
}

#newnew { background-color:black;color:white;

}



