#main {
  background-color:black;
  color:white;
    width:400px;
      height:60px
      font-style:Lucida;

}
#con {
  background-color:white;
  color:black;
   width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
.image { 
   position: relative; 
   width: 100%;
}

h2 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
}

.oldish{ color:white;
}

.intro{
  color:white;
}

#newnew { background-color:black;color:white;

}



