#main {
  background-color:black;
color:white;

}

.image { 
   position: relative; 
   width: 100%;
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

.oldish{ color:black;
}

.intro{
  color:#ff5c67;
}

#newnew { background-color:black;color:white;

}



